@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Noto+Sans+Devanagari:wght@400;700;900&family=Noto+Sans+Telugu:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Inter", "system-ui", sans-serif;
    --font-devanagari: "Noto Sans Devanagari", sans-serif;
    --font-telugu: "Noto Sans Telugu", sans-serif;
}

@layer base {
    .font-devanagari {
        font-family: "Noto Sans Devanagari", sans-serif;
    }

    .font-telugu {
        font-family: "Noto Sans Telugu", sans-serif;
    }
}